<form (submit)="onSubmit()" #commentForm="ngForm" novalidate>
  <div>
    <label for="name"> Name</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      required
      minlength="3"
      #nameField="ngModel"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        (commentForm.submitted || nameField.dirty || nameField.touched) &&
        nameField.errors
      "
    >
      <div [hidden]="!nameField.errors.required">Name is required</div>
      <div [hidden]="!nameField.errors.minlength">
        A name needs atleast 3 characters
      </div>
    </div>
  </div>
  <div>
    <label for="comment"> Comment</label>
    <textarea
      name="comment"
      [(ngModel)]="comment"
      required
      minlength="3"
      #commentField="ngModel"
    ></textarea>
    <div
      class="alert alert-danger"
      *ngIf="
        (commentForm.submitted || commentField.dirty || commentField.touched) &&
        commentField.errors
      "
    >
      <div [hidden]="!commentField.errors.required">
        Some text is required for a comment
      </div>
      <div [hidden]="!commentField.errors.minlength">
        The comment needs to be atleast 3 characters long
      </div>
    </div>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
